<div class="row my-5 page-form">
    <div class="col-md-12">

        <form class="page-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <div class="col-md-12">
                    <p class="h4">Reset password</p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">New Password :</label></div>
                <div class="col-md-8">
                    <input type="password" formControlName="password" class="form-control form-control-sm w-100">
                    <small class="text-danger" *ngFor="let err of passErrors">{{err}}</small>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Confirm New Password :</label></div>
                <div class="col-md-8">
                    <input type="password" formControlName="rePassword" class="form-control form-control-sm w-100">
                    <small class="text-danger" *ngFor="let err of rePassErrors">{{err}}</small>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Old Passowrd :</label></div>
                <div class="col-md-8">
                    <input type="password" formControlName="currentPassword" class="form-control form-control-sm w-100">
                    <small class="text-danger" *ngFor="let err of curPassErrors">{{err}}</small>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button [disabled]="isSending" type="submit" class="btn btn-secondary btn-sm float-end page-form-btn">Submit</button>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- success modal -->

<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#passwordResetSuccessModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="passwordResetSuccessModal" tabindex="-1" aria-labelledby="passwordResetSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p class="lead my-3">Password reset successful</p>
                <button class="btn btn-sm btn-secondary modal-form-btn mb-3" data-bs-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>
