<div class="row">
    <div class="col-md-12">
        <h4 class="form-heading">Appraisal Sheet</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-7">

        <div class="row mt-1 mb-2">
            <div class="col-md-5">
                <label>Job Knowledge : </label>
            </div>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="knowledgeRadioOptions" id="knowledgeRadio1" value="option1">
                    <label class="form-check-label" for="knowledgeRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="knowledgeRadioOptions" id="knowledgeRadio2" value="option2">
                    <label class="form-check-label" for="knowledgeRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="knowledgeRadioOptions" id="knowledgeRadio3" value="option3">
                    <label class="form-check-label" for="knowledgeRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="knowledgeRadioOptions" id="knowledgeRadio4" value="option3">
                    <label class="form-check-label" for="knowledgeRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="knowledgeRadioOptions" id="knowledgeRadio5" value="option3">
                    <label class="form-check-label" for="knowledgeRadio5">5</label>
                </div>                
            </div>
        </div>        

        <div class="row mt-1 mb-2">
            <div class="col-md-5">
                <label>Quality of Work : </label>
            </div>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="qualityRadioOptions" id="qualityRadio1" value="option1">
                    <label class="form-check-label" for="qualityRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="qualityRadioOptions" id="qualityRadio2" value="option2">
                    <label class="form-check-label" for="qualityRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="qualityRadioOptions" id="qualityRadio3" value="option3">
                    <label class="form-check-label" for="qualityRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="qualityRadioOptions" id="qualityRadio4" value="option3">
                    <label class="form-check-label" for="qualityRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="qualityRadioOptions" id="qualityRadio5" value="option3">
                    <label class="form-check-label" for="qualityRadio5">5</label>
                </div>                
            </div>
        </div>        

        <div class="row mt-1 mb-2">
            <div class="col-md-5">
                <label>Productivity: </label>
            </div>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productivityRadioOptions" id="productivityRadio1" value="option1">
                    <label class="form-check-label" for="productivityRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productivityRadioOptions" id="productivityRadio2" value="option2">
                    <label class="form-check-label" for="productivityRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productivityRadioOptions" id="productivityRadio3" value="option3">
                    <label class="form-check-label" for="productivityRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productivityRadioOptions" id="productivityRadio4" value="option3">
                    <label class="form-check-label" for="productivityRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="productivityRadioOptions" id="productivityRadio5" value="option3">
                    <label class="form-check-label" for="productivityRadio5">5</label>
                </div>                
            </div>
        </div>        

        <div class="row mt-1 mb-2">
            <div class="col-md-5">
                <label>Dependability: </label>
            </div>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dependabilityRadioOptions" id="dependabilityRadio1" value="option1">
                    <label class="form-check-label" for="dependabilityRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dependabilityRadioOptions" id="dependabilityRadio2" value="option2">
                    <label class="form-check-label" for="dependabilityRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dependabilityRadioOptions" id="dependabilityRadio3" value="option3">
                    <label class="form-check-label" for="dependabilityRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dependabilityRadioOptions" id="dependabilityRadio4" value="option3">
                    <label class="form-check-label" for="dependabilityRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dependabilityRadioOptions" id="dependabilityRadio5" value="option3">
                    <label class="form-check-label" for="dependabilityRadio5">5</label>
                </div>                
            </div>
        </div>        

        <div class="row mt-1 mb-2">
            <div class="col-md-5">
                <label>Attendance: </label>
            </div>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="attendanceRadioOptions" id="attendanceRadio1" value="option1">
                    <label class="form-check-label" for="attendanceRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="attendanceRadioOptions" id="attendanceRadio2" value="option2">
                    <label class="form-check-label" for="attendanceRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="attendanceRadioOptions" id="attendanceRadio3" value="option3">
                    <label class="form-check-label" for="attendanceRadio3">3</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="attendanceRadioOptions" id="attendanceRadio4" value="option3">
                    <label class="form-check-label" for="attendanceRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="attendanceRadioOptions" id="attendanceRadio5" value="option3">
                    <label class="form-check-label" for="attendanceRadio5">5</label>
                </div>                
            </div>
        </div>        

    </div>

    <div class="col-md-5">
        <small>
            1 - Far below standard <br />
            2 - Below standard <br />
            3 - Meets standard <br />
            4 - Above standard <br />
            5 - Far above standard <br />
        </small>
    </div>
</div>
