
<app-module-topnav [headings]="navHeading" [showPrint]="true"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- department page form -->

        <app-department-form #departmentFormComponentReference></app-department-form>

        <div class="row page-form">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/classes/all-departments">Cancel</button>
                <button [disabled]="isDepartmentSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postDepartment()">Save</button>
            </div>
        </div>

    </div>
</main>
    
<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
    