<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectLeaveModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectLeaveModal" tabindex="-1" aria-labelledby="selectLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectLeaveModalLabel">Select Enterprise Leave</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="15%" class="min-width-2">
                                Leave ID.
                                <app-table-sorting [sortField]="'leave_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="45%" class="min-width-3">
                                Employee Name
                                <app-table-sorting [sortField]="'employee_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Leave Start
                                <app-table-sorting [sortField]="'leave_start'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Leave End
                                <app-table-sorting [sortField]="'leave_end'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of leaveGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.leave_code}}</td>
                            <td>{{data?.employee?.first_name}} {{data?.employee?.last_name}}</td>
                            <td>{{data?.leave_start}}</td>
                            <td>{{data?.leave_end}}</td>
                        </tr>                          
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="4">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountLeave($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
