<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- ward form component -->

        <app-ward-form #wardFormComponentReference></app-ward-form>

        <div class="row page-form">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/ward/all-ward">Cancel</button>
                <button [disabled]="isWardSaving" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postWard()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
