<nav class="navbar sticky-top navbar-expand navbar-light bg-white topbar d-block mb-4 px-4 shadow">
    <div class="module-heading d-inline-block">
        <span>
            <a routerLink="/home">
                <p class="lead d-inline-block mt-2"><i class="bi bi-house-fill me-2"></i>Home</p>            
            </a>
            <p class="lead d-none d-sm-inline-block mt-2"><i class="mx-3">/</i></p>
        </span>
        <span *ngFor="let heading of headings" class="d-none d-sm-inline-block">
            <a routerLink={{heading.url}}>
                <p class="lead d-inline-block mt-2">{{heading.text}}</p>
            </a>
            <p class="lead d-inline-block mt-2"><i *ngIf="headings.indexOf(heading) != headings.length - 1" class="mx-3">/</i></p>
        </span>
    </div>

    <div *ngIf="showPrint" class="dropdown float-end d-inline-block">
        <button class="d-sm-inline-block btn btn-outline-secondary shadow-sm float-end mt-1" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-earmark me-2"></i> File
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
            <li class="mx-2" (click)="print.emit()"><i class="bi bi-printer me-1"></i>Print</li>
        </ul>
    </div>
</nav>