<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- plan page form -->

        <app-plan-form #planFormComponentReference></app-plan-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/lesson-plan/all-plans">Cancel</button>
                <button [disabled]="isPlanSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postLessonPlan()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
