<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-12">

                <nav class="settings-tabs">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-basic-tab" data-bs-toggle="tab" data-bs-target="#nav-basic" type="button" role="tab" aria-controls="nav-basic" aria-selected="true">
                            Basic Profle
                        </button>
                        <button class="nav-link" id="nav-logo-tab" data-bs-toggle="tab" data-bs-target="#nav-logo" type="button" role="tab" aria-controls="nav-logo" aria-selected="false">
                            Logo
                        </button>
                        <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-location" type="button" role="tab" aria-controls="nav-location" aria-selected="false">
                            Location Details
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                            Contact Details
                        </button>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
                        <app-basic #basicComponentReference (updateAccountEvent)="putAccount($event)"></app-basic>
                    </div>
                    <div class="tab-pane fade" id="nav-logo" role="tabpanel" aria-labelledby="nav-logo-tab">
                        <app-logo #logoComponentReference (updateAccountEvent)="putLogo($event)"></app-logo>
                    </div>
                    <div class="tab-pane fade" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
                        <app-location #locationComponentReference (updateAccountEvent)="putAccount($event)" (updateExtendedEvent)="putExtended($event)"></app-location>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <app-contact #contactComponentReference (updateExtendedEvent)="putExtended($event)"></app-contact>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
