<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">
    
        <h5 class="mb-3">ActionPlans ID</h5>

        <div class="row nr-standard-font">
            <div class="col-md-6">

                <div class="row mb-3">
                    <div class="col">
                        <div class="form-check">
                            <input [(ngModel)]="entryMode" class="form-check-input" type="radio" value="Manual" id="menuIDMode" name="menuIdMode" (change)="entryModeChange($event)">
                            <label class="form-check-label" for="menuIDMode">
                                Manually enter Action Plan ID
                            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="entryMode" class="form-check-input" type="radio" value="Auto" id="menuIDMode" name="menuIdMode" checked (change)="entryModeChange($event)">
                            <label class="form-check-label" for="menuIDMode">
                                Automatically generate Action Plan ID
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-4">
                        <label class="mt-1">Prefix :</label>
                    </div>
                    <div class="col-md-5">
                        <input [(ngModel)]="prefix" [disabled]="entryMode == 'Manual'" type="text" class="form-control form-control-sm w-100" (change)="setSampleId()">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <label class="mt-1">Code length :</label>
                    </div>
                    <div class="col-md-5">
                        <input [(ngModel)]="codeLength" [disabled]="entryMode == 'Manual'" type="number" min="0" class="form-control form-control-sm w-100" (change)="setSampleId()">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <label class="mt-1">Suffix :</label>
                    </div>
                    <div class="col-md-5">
                        <input [(ngModel)]="suffix" [disabled]="entryMode == 'Manual'" type="text" class="form-control form-control-sm w-100" (change)="setSampleId()">
                    </div>
                </div>

                <div class="row mb-1 mt-3">
                    <div class="col-md-4">
                        <label class="mt-1">Sample ID :</label>
                    </div>
                    <div class="col-md-5">
                        <strong>{{sampleID}}</strong>
                    </div>
                </div>

                <hr>
                
            </div>
        </div>        
        
        <div class="row mt-3 page-form">
            <div class="col-md-12">
                <button [disabled]="isConfigSaving || isConfigLoading" type="submit" class="btn btn-secondary btn-sm page-form-btn" (click)="putActionPlanCodeConfig()">
                    Save
                </button>
            </div>
        </div>
        
    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
