<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-5">

        <div class="row">
            <div class="col-md-10">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-secondary page-add-btn" (click)="newDiagnosis.openModal()">New Diagnosis</button>
                        <button [disabled]="isFetchingGridData" class="btn btn-light bdiagnosis float-end page-refresh-btn" (click)="getAccountDiagnosis(1, 20, '')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="12%" class="min-width-2">
                                    Diagnosis ID
                                    <app-table-sorting [sortField]="'diagnosis_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="20%" class="min-width-3">
                                    Diagnosis Date
                                    <app-table-sorting [sortField]="'diagnosis_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="30%" class="min-width-3">
                                    Patient Name
                                    <app-table-sorting [sortField]="'patient_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="13%" class="min-width-2">
                                    Patient No.
                                    <app-table-sorting [sortField]="'patient_number'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="25%" class="min-width-2">
                                    Consultant Name
                                    <app-table-sorting [sortField]="'consultant_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of diagnosisGridData" (dblclick)="viewDiagnosis(data.id)" class="table-pointer">
                                <td>{{data?.diagnosis_code}}</td>
                                <td>{{data?.diagnosis_date | date: 'short'}}</td>
                                <td>{{data?.patient?.first_name}} {{data?.patient?.last_name}}</td>
                                <td>{{data?.patient?.clinical_code}}</td>
                                <td>{{data?.consultatn_name}}</td>
                            </tr>
                            <tr *ngIf="isFetchingGridData || !isDataAvailable">
                                <td colspan="5">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="5">
                                    <app-table-paginator
                                    [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountDiagnosis($event, 20, '')"
                                    ></app-table-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- new diagnosis modal component -->

<app-new-diagnosis #newDiagnosisComponentReference></app-new-diagnosis>
