<div class="row my-3">
    <div class="col-md-12">
        <h5>User Modules' Access</h5>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">

        <table class="table table-sm page-table">
            <thead>
                <tr>
                    <th width="70%">Module</th>
                    <th width="30%">Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><input [(ngModel)]="accessForm.admin_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="adminCheckbox"></td>
                </tr>
                <tr>
                    <td>Assessment</td>
                    <td><input [(ngModel)]="accessForm.assessment_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="assesmentCheckbox"></td>
                </tr>
                <tr>
                    <td>Attendance</td>
                    <td><input [(ngModel)]="accessForm.attendance_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="attendanceCheckbox"></td>
                </tr>
                <tr>
                    <td>Classes</td>
                    <td><input [(ngModel)]="accessForm.classes_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="classesCheckbox"></td>
                </tr>
                <tr>
                    <td>Fees</td>
                    <td><input [(ngModel)]="accessForm.fees_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="feesCheckbox"></td>
                </tr>
                <tr>
                    <td>Lesson Plan</td>
                    <td><input [(ngModel)]="accessForm.lesson_plan_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="lessonPlanCheckbox"></td>
                </tr>
                <tr>
                    <td>Parents</td>
                    <td><input [(ngModel)]="accessForm.parents_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="parentsCheckbox"></td>
                </tr>
                <tr>
                    <td>Payments</td>
                    <td><input [(ngModel)]="accessForm.payments_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="paymentsCheckbox"></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><input [(ngModel)]="accessForm.portal_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="portalCheckbox"></td>
                </tr>
                <tr>
                    <td>Reports</td>
                    <td><input [(ngModel)]="accessForm.reports_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="reportsCheckbox"></td>
                </tr>
                <tr>
                    <td>Sections</td>
                    <td><input [(ngModel)]="accessForm.sections_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="sectionsCheckbox"></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><input [(ngModel)]="accessForm.settings_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="settingsCheckbox"></td>
                </tr>
                <tr>
                    <td>Students</td>
                    <td><input [(ngModel)]="accessForm.students_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="studentsCheckbox"></td>
                </tr>
                <tr>
                    <td>Subjects</td>
                    <td><input [(ngModel)]="accessForm.subjects_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="subjectsCheckbox"></td>
                </tr>
                <tr>
                    <td>Teachers</td>
                    <td><input [(ngModel)]="accessForm.teachers_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="teachersCheckbox"></td>
                </tr>
                <tr>
                    <td>Terms</td>
                    <td><input [(ngModel)]="accessForm.terms_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="termsCheckbox"></td>
                </tr>
                <tr>
                    <td>Timetable</td>
                    <td><input [(ngModel)]="accessForm.timetable_access" [disabled]="isCreator" type="checkbox" class="form-check-input" id="timetableCheckbox"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
