<form class="page-form" [formGroup]="customerForm">

    <div class="row page-form">

        <div class="col-md-12">
            <h4 class="mb-3">Customer Details</h4>
        </div>

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Customer ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="customerCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Customer Name :</label></div>
                <div class="col-md-8">
                    <input formControlName="customerName" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Customer Type :</label></div>
                <div class="col-md-8">
                    <select formControlName="customerType" class="form-control form-control-sm w-100">
                        <option>Individual</option>
                        <option>Organization</option>
                        <option>Group</option>
                        <option>Couple</option>
                    </select>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Allergies :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="allergies" class="form-control form-control-sm w-100" rows="3"></textarea>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Preferences :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="preferences" class="form-control form-control-sm w-100" rows="3"></textarea>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Phone No. :</label></div>
                <div class="col-md-8">
                    <input formControlName="phone" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Email :</label></div>
                <div class="col-md-8">
                    <input formControlName="email" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Address :</label></div>
                <div class="col-md-8">
                    <textarea formControlName="address" class="form-control form-control-sm w-100" rows="3"></textarea>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">State/Region :</label></div>
                <div class="col-md-8">
                    <input formControlName="state" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">City/Town :</label></div>
                <div class="col-md-8">
                    <input formControlName="city" class="form-control form-control-sm w-100">
                </div>
            </div>

        </div>

    </div>

    <hr />

</form>
