<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- employee page form -->

        <app-employee-form #employeeFormComponentReference></app-employee-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/employees/all-employees">Cancel</button>
                <button [disabled]="isEmployeeSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postEmployee()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
