<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">
    
        <div class="row mb-3">

            <div class="col-md-3 mb-4">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col mr-2">
                                <div class="h6 mb-3">All Roster</div>
                                <div class="h4 mb-0">{{allRosterCount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>
</main>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
