<app-main-navbar [navBrand]="'nR Restaurant'" [source]="'Restaurant'"></app-main-navbar>

<div class="row flex-nowrap g-0">
    <div class="col-auto col-md-3 col-xl-2">

        <app-module-sidenav [navLinks]="navLinks" [heading]="'Roster'" [showConf]="true" [suite]="'Hotel'" (gotoConfig)="gotoConfig()"></app-module-sidenav>

    </div>
    <div class="col">
        
        <router-outlet></router-outlet>

    </div>
</div>

<!-- access denied prompt component -->

<app-access-toast #accessToastComponentReference></app-access-toast>
