<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- student page form -->

        <app-student-form #studentFormComponentReference></app-student-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/students/all-students">Cancel</button>
                <button [disabled]="isStudentSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postStudent()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
