<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- member page form -->

        <app-member-form #memberFormComponentReference></app-member-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/members/all-members">Cancel</button>
                <button [disabled]="isMemberSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postMember()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
