<div class="container">
    <div class="row my-5">
        <div class="col-md-7">

            <h4 class="my-5">
                <a routerLink="/help">Help</a>
                <span class="mx-2">/</span>Adding users
            </h4>

            <h3 class="mb-4">Adding users to your institution's account</h3>

            <p>netRink and its products are designed to be user friendly, and easy to use. Adding users to your institution&apos;s account is just like adding friends on any social media platform.</p>
            <p>Accounts come with a default free pricing plan which allows only an individual user per account. To upgrade your plan, go to <strong>Settings Module</strong> -&gt; Subscription. After upgrading your plan, go to <strong>Admin Module</strong> -&gt; New Invitation. From there it is just the usual modern social media affairs 😄.</p>
            <p>On the user&apos;s side, the user has to have a netRink Personal account to access an institution&apos;s account. After signing up, go to <strong>Settings Module&nbsp;</strong>-&gt; All Accounts -&gt; Invitations. Accept the invitation from there, and you will be automatically added to the account.</p>
            <p>New users are granted &quot;Staff Access Level&quot; by default as a security feature, which restricts access to all modules. To change the user&apos;s access level or grant him access to specific modules, go to <strong>Admin Module</strong> -&gt; All Users. Select the user and carry on from there.</p>
            <p>Need help adding users to your account? Contact our support team at <a href="mailto:support@netrink.com">support@netrink.com</a>.</p>

        </div>
    </div>
</div>
