<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- doctor page form -->

        <app-doctor-form #doctorFormComponentReference></app-doctor-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/doctors/all-doctors">Cancel</button>
                <button [disabled]="isDoctorSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postDoctor()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
