<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- leave page form -->

        <app-leave-form #leaveFormComponentReference></app-leave-form>

        <div class="row page-form">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/leave/all-leave">Cancel</button>
                <button [disabled]="isLeaveSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postLeave()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
