<form class="page-form" [formGroup]="salesForm">

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Sales ID :</label></div>
        <div class="col-md-8">
            <input formControlName="salesCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Sales Date :</label></div>
        <div class="col-md-8">
            <input type="date" formControlName="salesDate" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Product ID :</label></div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="productCode" class="form-control">
                <button type="button" class="btn btn-secondary">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Product Name :</label></div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="productName" class="form-control">
                <button type="button" class="btn btn-secondary">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit Price :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="0.01" formControlName="unitPrice" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Quantity :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="1" formControlName="quantity" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Total Price :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="0.01" formControlName="totalPrice" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Customer Name :</label></div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="customerName" class="form-control">
                <button type="button" class="btn btn-secondary">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

</form>
