<form class="page-form" [formGroup]="receivedForm">

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Date Received :</label></div>
        <div class="col-md-8">
            <input type="date" formControlName="dateReceived" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Reference No. :</label></div>
        <div class="col-md-8">
            <input formControlName="referenceNumber" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Sender :</label></div>
        <div class="col-md-8">
            <input formControlName="sender" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Subject :</label></div>
        <div class="col-md-8">
            <input formControlName="subject" class="form-control form-control-sm w-100">
        </div>
    </div>

</form>
