<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- procurement page form -->

        <app-procurement-form #procurementFormComponentReference></app-procurement-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/procurement/all-procurement">Cancel</button>
                <button [disabled]="isProcurementaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postProcurement()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
