<button [hidden]="true" #editButtonElementReference data-bs-toggle="modal" data-bs-target="#editTableModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="editTableModal" tabindex="-1" aria-labelledby="editTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="editTableModalLabel">View Table</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- table page form -->

                <app-table-form #tableFormComponentReference></app-table-form>

            </div>

            <div class="modal-footer">
                <button [disabled]="isTableSaving" class="btn btn-sm btn-secondary modal-form-btn" (click)="saveTable()">Save</button>
                <button [disabled]="isTableDeleting" class="btn btn-sm btn-secondary modal-form-btn" (click)="deleteTable()">Delete</button>
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
