<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectProductModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectProductModal" tabindex="-1" aria-labelledby="selectProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectProductModalLabel">Select Shop Product</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="20%" class="min-width-2">
                                Product ID
                                <app-table-sorting [sortField]="'product_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="35%" class="min-width-4">
                                Product Name
                                <app-table-sorting [sortField]="'product_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Price
                                <app-table-sorting [sortField]="'price'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="25%" class="min-width-2">
                                Product Category
                                <app-table-sorting [sortField]="'product_category'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of productsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.product_code}}</td>
                            <td>{{data?.product_name}}</td>
                            <td>{{data?.price}}</td>
                            <td>{{data?.product_category}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="4">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountProduct($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>             
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
