<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-8">

                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-secondary page-add-btn" routerLink="/home/admin/search">Invite User</button>
                        <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountInvitation(1, 20, '')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="25%" class="min-width-3">
                                    Invitation Date
                                    <app-table-sorting [sortField]="'invitation_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="50%" class="min-width-4">
                                    User's Name
                                    <app-table-sorting [sortField]="'invitee_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="25%" class="min-width-2">
                                    Invitation Status
                                    <app-table-sorting [sortField]="'invitation_status'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of invitationsGridData" (dblclick)="openInvitation(data)" class="table-pointer">
                                <td>{{data?.created_at | date:'short'}}</td>
                                <td>{{data?.user.first_name}} {{data?.user.last_name}}</td>
                                <td>{{data?.invitation_status}}</td>
                            </tr>
                            <tr *ngIf="isFetchingGridData || !isDataAvailable">
                                <td colspan="3">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="3">
                                    <app-table-paginator
                                    [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountInvitation($event, 20, '')"
                                    ></app-table-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- view invitation component -->

<app-view-invitation #viewInvitationComponentReference></app-view-invitation>
