<form class="page-form" [formGroup]="classForm">

    <h4 class="mb-3">Class Details</h4>

    <div class="row">
        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Class ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="classCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Class Name :</label></div>
                <div class="col-md-8">
                    <input formControlName="className" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Term :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="term" class="form-control">
                        <button type="button" class="btn btn-secondary" (click)="openTermWindow()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Department :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="department" class="form-control">
                        <button type="button" class="btn btn-secondary" (click)="openDepartmentWindow()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Class Teacher :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="classTeacher" class="form-control">
                        <button type="button" class="btn btn-secondary" (click)="openTeacherWindow()">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Location :</label></div>
                <div class="col-md-8">
                    <input formControlName="location" class="form-control form-control-sm w-100">
                </div>
            </div>

            <hr />

        </div>
    </div>

</form>
