<div class="row">
    <div class="col-md-12">

        <div class="overflow-auto">
            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="120" class="min-width-2">Day</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let key of Object.keys(sheetData)">
                        <td class="align-middle text-center timetable-sheet-row">{{key}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
