<button [hidden]="true" #exitButtonElementReference data-bs-toggle="modal" data-bs-target="#exitAccountModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="exitAccountModal" tabindex="-1" aria-labelledby="exitAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="exitAccountModalLabel">View Account</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">

                <div class="row mb-4">
                    <div class="col">
                        <label><em>Date Joined :</em></label>
                        {{accountData?.updated_at | date: 'short'}}
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <img *ngIf="accountData?.account.logo != null" [src]="accountData?.account.logo" alt="" width="70" height="60" class="rounded" />
                        <img *ngIf="accountData?.account.logo == null" src="../../../../../assets/images/utilities/logo-placeholder.jpg" alt="Company" width="70" height="60" class="rounded border" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <i class="bi bi-building me-2 text-muted"></i>
                        <strong>{{accountData?.account.name}}</strong>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <i class="bi bi-geo-alt-fill me-2 text-muted"></i>
                        {{accountData?.account.location}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button [disabled]="isDeleting" class="btn btn-sm btn-danger page-add-btn m-1" (click)="deleteAccountUser()">Exit Account</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
