<form [formGroup]="supplierForm">

    <h4 class="mb-3">Supplier Details</h4>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier ID :</label></div>
        <div class="col-md-8">
            <input formControlName="supplierCode" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier Name :</label></div>
        <div class="col-md-8">
            <input formControlName="supplierName" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supplier Type :</label></div>
        <div class="col-md-8">
            <input formControlName="supplierType" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Phone No. :</label></div>
        <div class="col-md-8">
            <input formControlName="phone" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Email :</label></div>
        <div class="col-md-8">
            <input formControlName="email" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Address :</label></div>
        <div class="col-md-8">
            <textarea formControlName="address" class="form-control form-control-sm w-100" rows="3"></textarea>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">State/Region :</label></div>
        <div class="col-md-8">
            <input formControlName="state" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">City/Town :</label></div>
        <div class="col-md-8">
            <input formControlName="city" class="form-control form-control-sm w-100">
        </div>
    </div>

</form>
