<form class="page-form" [formGroup]="checkinForm">

    <div class="row">
        <div class="col-md-12">
            <h4 class="form-heading">Check-In Details</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Check-In ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="checkinCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">From Booking :</label></div>
                <div class="col-md-8">
                    <input type="checkbox" formControlName="fromBooking" class="form-check-input py-auto" (change)="onBookingCheckChanged($event)">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Booking ID :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="bookingCode" class="form-control">
                        <button type="button" class="btn btn-secondary" [disabled]="bookingDisabled">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Guest Name :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="guestName" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Guest ID : </label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="guestCode" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>      
            
        </div>

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Check-In Date :</label></div>
                <div class="col-md-8">
                    <input formControlName="checkinDate" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Check-Out Date :</label></div>
                <div class="col-md-8">
                    <input formControlName="checkoutDate" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Room No. : </label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="roomNumber" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>    

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">No. of Nights :</label></div>
                <div class="col-md-8">
                    <input formControlName="numberNights" class="form-control form-control-sm w-100">
                </div>
            </div>

        </div>

    </div>

    <hr />

</form>
