<app-main-navbar
    [navBrand]="'nR Personal'"
    [source]="'Personal'"
></app-main-navbar>

<div class="container">
    <div class="row gx-5 py-5 my-3">

        <div class="col-md-12">
            <h1 class="h3 mb-5">
                Download netRink Personal for Windows devices
            </h1>
        </div>

        <div class="col-md-6">
            <img src="assets/images/landing/responsive.svg" alt="responsive" class="img-fluid">
            <button class="create-btn btn btn-lg btn-secondary px-5  my-4">
                <i class="bi bi-windows me-3"></i> Download
            </button>
            <p class="lead">
                Download netRink Personal for native Windows devices and get more access to your device's hardware, and for a richer experience.
            </p>
        </div>

        <div class="col-md-6">
            <p class="lead">
                Download netRink Personal console apps for hassle free interaction with users for common processes with the platform.
            </p>
        </div>

    </div>
</div>

<app-main-footer></app-main-footer>
