<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectReceivableModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectReceivableModal" tabindex="-1" aria-labelledby="selectReceivableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectReceivableModalLabel">Select Shop Receivable</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="20%" class="min-width-2">
                                Receivable ID
                                <app-table-sorting [sortField]="'item_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="25%" class="min-width-4">
                                Receivable Date
                                <app-table-sorting [sortField]="'receivable_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="35%" class="min-width-3">
                                Customer Name
                                <app-table-sorting [sortField]="'customer_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Amount
                                <app-table-sorting [sortField]="'amount'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of receivablesGridData; index as i" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.receivable_code}}</td>
                            <td>{{data?.receivable_date}}</td>
                            <td>{{data?.customer_name}}</td>
                            <td>{{data?.amount}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="4">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountReceivable($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>            
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
