<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-10">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-secondary page-add-btn" routerLink="/home/attendance/new-attendance">New Attendance</button>
                        <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountAttendance()">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="active-term-label-col"><label class="mt-1">Active Term :</label></div>
                    <div class="active-term-form-control-col">
                        <div class="input-group input-group-sm w-100">
                            <input [(ngModel)]="activeTermName" class="form-control" disabled>
                            <button type="button" class="btn btn-secondary" (click)="openTermWindow()">
                                <i class="bi bi-three-dots"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="15%" class="min-width-2">
                                    Attendance ID
                                    <app-table-sorting [sortField]="'attendance_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="35%" class="min-width-4">
                                    Attendance Name
                                    <app-table-sorting [sortField]="'attendance_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="25%" class="min-width-3">
                                    Term
                                    <app-table-sorting [sortField]="'term'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="25%" class="min-width-3">
                                    Source
                                    <app-table-sorting [sortField]="'source'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of attendanceGridData" (dblclick)="viewAttendance(data.id)" class="table-pointer">
                                <td>{{data?.attendance_code}}</td>
                                <td>{{data?.attendance_name}}</td>
                                <td>{{data?.term.term_name}}</td>
                                <td>{{data?.source.source_name}}</td>
                            </tr>
                            <tr *ngIf="isFetchingGridData || !isDataAvailable">
                                <td colspan="5">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="5">
                                    <app-table-paginator
                                    [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountAttendance()"
                                    ></app-table-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select term window component -->

<!-- <app-select-term #selectTermComponentReference (rowSelected)="onTermSelected($event)"></app-select-term> -->
