<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-secondary page-add-btn" routerLink="/home/attendance/new-attendance">New Attendance</button>
                
                <div class="btn-group ms-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="visibleAttendance = 'Students'">
                    <label class="btn btn-outline-secondary" for="btnradio1">Students</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="visibleAttendance = 'Teachers'">
                    <label class="btn btn-outline-secondary" for="btnradio2">Teachers</label>                          
                </div>

                <!-- <button [disabled]="studentsAttendance.isFetchingGridData || teachersAttendance.isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountAttendance()">
                    <i class="bi bi-arrow-clockwise"></i>
                </button> -->
            </div>
        </div>                

        <!-- students attendance component -->

        <app-students-attendance #studentsAttendanceComponentReference *ngIf="visibleAttendance=='Students'"></app-students-attendance>

        <!-- teachers attendance component -->

        <app-teachers-attendance #studentsAttendanceComponentReference *ngIf="visibleAttendance=='Teachers'"></app-teachers-attendance>

    </div>
</main>

<!-- select term window component -->

<!-- <app-select-term #selectTermComponentReference (rowSelected)="onTermSelected($event)"></app-select-term> -->
