<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row page-form">
            <div class="col-md-6">

                <form class="page-form" [formGroup]="budgetForm" (ngSubmit)="updateBudget()">

                    <h4 class="mb-3">Budget Details</h4>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-md-end float-sm-start mt-1">Budget Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="budgetName" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-md-end float-sm-start mt-1">Budget Type :</label>
                        </div>
                        <div class="col-md-8">
                            <select formControlName="budgetType" class="form-control form-control-sm w-100">
                                <option>Once</option>
                                <option>Daily</option>
                                <option>Weekly</option>
                                <option>Monthly</option>
                                <option>Quarterly</option>
                            </select>
                        </div>
                    </div>

                    <hr />

                    <div *ngIf="!isBudgetLoading" class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/budget/all-budget">Cancel</button>
                            <button [disabled]="isBudgetDeleting" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="confirmDelete()">Delete</button>
                            <button [disabled]="isBudgetSaving" type="submit" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn">Save</button>
                        </div>
                    </div>
                    <div *ngIf="isBudgetLoading" class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                                <div class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-md-6 text-center">
                <h4>Income over Expenditure :</h4>
                <p class="h1">$ {{ioe}}</p>
            </div>
        </div>

        <!-- budget tables comopnent -->

        <app-budget-tables #budgetTablesComponentReference (ioeEvent)="getIoe($event)"></app-budget-tables>

    </div>
</main>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- only two delete confirmation modals are avialable
three delete confirmation modals are required on this page -->

<button [hidden]="true" #deleteButtonElementReference data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p class="pt-4">Are you sure you want to delete this item?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-secondary  modal-form-btn" data-bs-dismiss="modal" (click)="deleteBudget()">Yes</button>
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
