<div class="row my-5 page-form">
    <div class="col-md-12">

        <form class="page-form" [formGroup]="deleteForm" (ngSubmit)="openModal()">

            <div class="row mb-3">
                <div class="col-md-12">
                    <p class="h4">Delete Account</p>
                </div>
            </div>

            <p class="lead text-warning">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                Account can not be recovered after deletion!
            </p>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Password :</label></div>
                <div class="col-md-8">
                    <input type="password" formControlName="currentPassword" class="form-control form-control-sm w-100">
                    <small class="text-danger">{{detailError}}</small>
                    <small class="text-danger" *ngFor="let err of nfErrors">{{err}}</small>
                    <small class="text-danger" *ngFor="let err of passErrors">{{err}}</small>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button [disabled]="isSending" type="submit" class="btn btn-danger btn-sm float-end page-form-btn">Delete</button>
                </div>
            </div>

        </form>

    </div>
</div>

<!-- delete confirm modal -->

<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <div class="modal-body">
                <p class="pt-4">Are you sure you want to delete this account?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">No</button>
                <button class="btn btn-sm btn-danger modal-form-btn" data-bs-dismiss="modal" (click)="onConfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>
