<div class="row">
    <div class="col-md-9">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <h4 class="mb-3">Transactions</h4>

        <div class="overflow-auto">
            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="20%" class="min-width-3">Transaction Date</th>
                        <th width="37%" class="min-width-4">Description</th>
                        <th width="18%" class="min-width-2">Transaction Type</th>
                        <th width="15%" class="min-width-2">Amount</th>
                        <th width="10%" class="p-0 min-width-2">
                            <button class="btn btn-secondary btn-sm w-100" (click)="addTransaction.openModal()">
                                <i class="bi bi-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of transactionsGridData">
                        <td>{{data?.transaction_date | date:'short'}}</td>
                        <td>{{data?.description}}</td>
                        <td>{{data?.transaction_type}}</td>
                        <td>{{data?.amount}}</td>
                        <td class="p-0">
                            <button class="btn btn-sm border w-50" (click)="openEditTransaction(data)"><i class="bi bi-pen"></i></button>
                            <button class="btn btn-sm border w-50" (click)="confirmDelete(data.id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="isFetchingGridData">
                        <td colspan="5">
                            <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="true"></app-table-loading>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- add and edit transaction modal components -->

<app-add-transaction #addTransactionComponentReference (saveTransactionEvent)="createTransaction($event)"></app-add-transaction>

<app-edit-transaction #editTransactionComponentReference (saveTransactionEvent)="updateTransaction($event)"></app-edit-transaction>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteTransaction()"></app-delete-modal-two>
