<button [hidden]="true" #newButtonElementReference data-bs-toggle="modal" data-bs-target="#newNoteModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newNoteModal" tabindex="-1" aria-labelledby="newNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="noteForm" (ngSubmit)="createNote()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newNoteModalLabel">Add New Note</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col">
                            <label class="float-start mt-1 mb-2">Note ID :</label>
                            <input formControlName="noteCode" class="form-control form-control-sm float-start w-100">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label class="float-start mt-1 mb-2">Note Title :</label>
                            <input formControlName="title" class="form-control form-control-sm float-start w-100">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <label class="float-start mt-1 mb-2">Note Body :</label>
                            <textarea formControlName="body" class="form-control form-control-sm float-start w-100" rows="8"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="isNoteSaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
