<form class="page-form" [formGroup]="appraisalForm">

    <div class="row">

        <div class="col-md-12">
            <h4 class="form-heading">Appraisal Details</h4>
        </div>

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Appraisal ID :</label></div>
                <div class="col-md-8">
                    <input formControlName="appraisalCode" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Appraisal Name :</label></div>
                <div class="col-md-8">
                    <input formControlName="appraisalName" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Employee ID : </label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="employeeCode" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Employee Name :</label></div>
                <div class="col-md-8">
                    <div class="input-group input-group-sm w-100">
                        <input formControlName="employeeName" class="form-control">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-three-dots"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Start Date :</label></div>
                <div class="col-md-8">
                    <input formControlName="startDate" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">End Date :</label></div>
                <div class="col-md-8">
                    <input formControlName="endDate" type="date" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Supervisor :</label></div>
                <div class="col-md-8">
                    <input formControlName="supervisor" class="form-control form-control-sm w-100">
                </div>
            </div>

        </div>

    </div>

</form>
