<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-secondary page-add-btn" routerLink="/home/admin/search">Invite User</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="65%" class="min-width-4">User's Name</th>
                                <th width="35%" class="min-width-2">User Level</th>
                            </tr>
                            <tr *ngIf="isFetchingGridData">
                                <td colspan="3">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="false"></app-table-loading>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of usersGridData" (dblclick)="viewUser(data.id)" class="table-pointer">
                                <td>{{data?.personal_user.first_name}} {{data?.personal_user.last_name}}</td>
                                <td>{{data?.access_level}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
