<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-10">

            <div class="row mb-3">
                <div class="col-md-12">
                    <button class="btn btn-secondary page-add-btn" (click)="addOrder.openModal()">Add New Order</button>
                    <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountOrder(1, 20, '')">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

            <div class="overflow-auto">
                <table class="table table-bordered w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="15%" class="min-width-2">
                                Order ID
                                <app-table-sorting [sortField]="'order_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-3">
                                Order Date
                                <app-table-sorting [sortField]="'order_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="30%" class="min-width-3">
                                Customer Name
                                <app-table-sorting [sortField]="'customer_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="15%" class="min-width-2">
                                Order Type
                                <app-table-sorting [sortField]="'order_type'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Total Amount
                                <app-table-sorting [sortField]="'total_amunt'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of ordersGridData" (dblclick)="viewOrder(data.id)" class="table-pointer">
                            <td>{{data?.order_code}}</td>
                            <td>{{data?.order_date | date}}</td>
                            <td>{{data?.customer.customer_name}}</td>
                            <td>{{data?.order_type}}</td>
                            <td>{{data?.total_amount}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="5">
                                <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="5">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountOrder($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- add order modal component -->

<app-add-order #addOrderComponentReference></app-add-order>
