<app-main-navbar [navBrand]="'netRink'" [source]="'Personal'"></app-main-navbar>

<div class="container mt-5">

    <div class="row">
        <div class="offset-md-2 col-md-6">

            <app-change-email></app-change-email>
            <hr class="my-4"/>
            <app-change-password></app-change-password>
            <hr class="my-4"/>
            <app-two-factor-auth></app-two-factor-auth>
            <hr class="my-4"/>
            <app-delete-account></app-delete-account>

        </div>
    </div>

</div>
