<div class="row">
    <div class="col-md-8">

        <h4>Parent's Wards</h4>

        <div class="overflow-auto">
            <table class="table table-bordered w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="25%" class="min-width-2">Student ID</th>
                        <th width="60%" class="min-width-2">Student Name</th>
                        <th width="15%" class="p-0 min-width-1">
                            <!-- <button class="btn btn-secondary w-100" (click)="selectStudent.openModal()"> -->
                            <button class="btn btn-secondary w-100">
                                <i class="bi bi-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of parentWardsGridData; index as i">
                        <td>{{data?.ward.student_code}}</td>
                        <td>{{data?.ward.first_name}} {{data?.ward.last_name}}</td>
                        <td class="p-0">
                            <button class="btn border w-50" (click)="gotoStudent(data.ward.id)"><i class="bi bi-eye"></i></button>
                            <button class="btn border w-50" (click)="confirmDelete(data.id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="isFetchingGridData" class="text-center">
                        <td colspan="3">
                            <div class="spinner-grow m-2" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select table window component -->

<!-- <app-select-student #selectStudentComponentReference (rowSelected)="createParentWard($event)"></app-select-student> -->

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteParentWard()"></app-delete-modal-two>
