<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectOrderModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectOrderModal" tabindex="-1" aria-labelledby="selectOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectOrderModalLabel">Select Shop Order</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="20%" class="min-width-2">
                                Order ID
                                <app-table-sorting [sortField]="'order_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-3">
                                Order Date
                                <app-table-sorting [sortField]="'order_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="40%" class="min-width-3">
                                Customer Name
                                <app-table-sorting [sortField]="'customer_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-2">
                                Total Amount
                                <app-table-sorting [sortField]="'order_total'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of ordersGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.order_code}}</td>
                            <td>{{data?.order_date | date: 'short'}}</td>
                            <td>{{data?.customer_name}}</td>
                            <td>{{data?.order_total}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="4">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountOrder($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>              
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
