<button [hidden]="true" #newButtonElementReference data-bs-toggle="modal" data-bs-target="#newAdmissionModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newAdmissionModal" tabindex="-1" aria-labelledby="newAdmissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="admissionForm" (ngSubmit)="createAdmission()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newAdmissionModalLabel">Add New Admission</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Admission ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="admissionCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Admission Date :</label></div>
                        <div class="col-md-8">
                            <input type="datetime-local" formControlName="admissionDate" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Discharge Date :</label></div>
                        <div class="col-md-8">
                            <input type="datetime-local" formControlName="dischargeDate" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Patient Name :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="patientName" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openPatientWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Patient No. :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="patientNumber" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openPatientWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Admission Status :</label></div>
                        <div class="col-md-8">
                            <select formControlName="admissionStatus" class="form-control form-control-sm w-100">
                                <option value="" selected></option>
                                <option value="Admitted">Admitted</option>
                                <option value="Discharged">Discharged</option>
                                <option value="Appointment Scheduled">Appointment Scheduled</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="isAdmissionSaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select patient window component -->

<app-select-patient #selectPatientComponentReference [closeTarget]="'#newAdmissionModal'" (rowSelected)="onPatientSelected($event)"></app-select-patient>
