<div class="row">
    <div class="col-md-12">

        <div class="overflow-auto">
            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="45%" class="min-width-3">Shift Name</th>
                        <th width="20%" class="min-width-2">Start Time</th>
                        <th width="20%" class="min-width-2">End Time</th>
                        <th width="15%" class="p-0 min-width-2">
                            <button class="btn btn-secondary btn-sm w-100" (click)="addShift.openModal()">
                                <i class="bi bi-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of shiftsGridData; index as i">
                        <td>{{data?.data().shift_name}}</td>
                        <td>{{data?.data().start_time}}</td>
                        <td>{{data?.data().end_time}}</td>
                        <td class="p-0">
                            <button class="btn btn-sm border w-50" (click)="openEditShift(data)"><i class="bi bi-pen"></i></button>
                            <button class="btn btn-sm border w-50" (click)="confirmDelete(data.id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="isFetchingGridData" class="text-center">
                        <td colspan="4">
                            <div class="spinner-grow spinner-grow-sm m-2" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- add and edit shift modal components -->

<app-add-shift #addShiftComponentReference (saveShiftEvent)="postShift($event)"></app-add-shift>

<app-edit-shift #editShiftComponentReference (saveShiftEvent)="putShift($event)"></app-edit-shift>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-two #deleteModalTwoComponentReference (confirmEvent)="deleteShift()"></app-delete-modal-two>
