<form class="page-form" [formGroup]="inventoryForm">

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Inventory ID :</label></div>
        <div class="col-md-8">
            <input formControlName="inventoryCode" class="form-control form-control-sm w-100">
        </div>
    </div>
    
    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Product Name :</label></div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="productName" class="form-control">
                <button type="button" class="btn btn-secondary" (click)="openProductWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Product ID :</label></div>
        <div class="col-md-8">
            <div class="input-group input-group-sm w-100">
                <input formControlName="productCode" class="form-control">
                <button type="button" class="btn btn-secondary" (click)="openProductWindow.emit()">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Unit Price :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="0.01" formControlName="unitPrice" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Stock :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="1" formControlName="stock" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Refill Ordered :</label></div>
        <div class="col-md-8">
            <input type="number" min="0" step="1" formControlName="refillOrdered" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Location :</label></div>
        <div class="col-md-8">
            <input formControlName="location" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Container :</label></div>
        <div class="col-md-8">
            <input formControlName="container" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Batch Number :</label></div>
        <div class="col-md-8">
            <input formControlName="batchNumber" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Manufacturing Date :</label></div>
        <div class="col-md-8">
            <input type="date" formControlName="manufacturingDate" class="form-control form-control-sm w-100">
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Expiry Date :</label></div>
        <div class="col-md-8">
            <input type="date" formControlName="expiryDate" class="form-control form-control-sm w-100">
        </div>
    </div>

</form>
