<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectVisitorModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectVisitorModal" tabindex="-1" aria-labelledby="selectVisitorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectVisitorModalLabel">Select Enterprise Visitor</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="20%" class="min-width-2">
                                Visit ID
                                <app-table-sorting [sortField]="'visit_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="30%" class="min-width-2">
                                Visit Date
                                <app-table-sorting [sortField]="'visit_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="50%" class="min-width-4">
                                Visitor Name
                                <app-table-sorting [sortField]="'visitor_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of visitorsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.visit_code}}</td>
                            <td>{{data?.visit_date}}</td>
                            <td>{{data?.visitor_name}}</td>
                        </tr>                          
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="3">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="3">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountVisitor($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
