<div class="container">
    <div class="row my-5">
        <div class="col-md-7">

            <h4 class="my-5">
                <a routerLink="/help">Help</a>
                <span class="mx-2">/</span>Infrastructure
            </h4>

            <h3 class="mb-4">Infrastructure and equipment requirements and setup</h3>

            <p>With the <a href="https://en.wikipedia.org/wiki/Software_as_a_service" rel="noopener noreferrer" target="_blank">Software as a Service (SaaS)</a> model, the infrastructure cost associated with deploying a system on the level of netRink and its products is greatly reduced. netRink doesn&apos;t require any specialized hardware, software or network connections to get started with. You can start with a bare minimum of a mobile phone or a personal digital assistant (PDA).</p>
            <p>netRink and its products have been well designed to work nicely across devices of varying screen sizes, from mobile phones to desktop monitors. But because the system is data oriented, we recommend a device with a minimum screen size of a tablet, to give you a satisfactory representation of your data.</p>
            <p>The optimum setup we recommend is to use tablet size devices connected via WiFi to a wireless access point, and on to the internet. This setup maximizes the efficiency between performance and cost. netRink also integrates seamlessly into existing enterprise grade networks.</p>
            <p>Need help setting up netRink for your institution? Our team of engineers are ready to assist and advice you with your infrastructure setup. Contact us at <a href="mailto:support@netrink.com">support@netrink.com</a></p>

        </div>
    </div>
</div>
