<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectBillModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectBillModal" tabindex="-1" aria-labelledby="selectBillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectBillModalLabel">Select Hotel Bill</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="20%" class="min-width-2">
                                Bill ID
                                <app-table-sorting [sortField]="'bill_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="35%" class="min-width-4">
                                Guest Name
                                <app-table-sorting [sortField]="'guest_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-4">
                                Guest ID
                                <app-table-sorting [sortField]="'guest_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="25%" class="min-width-2">
                                Bill Date
                                <app-table-sorting [sortField]="'bill_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of billsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.bill_code}}</td>
                            <td>{{data?.guest?.guest_name}}</td>
                            <td>{{data?.guest?.guest_code}}</td>
                            <td>{{data?.bill_date}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="5">
                                <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="5">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountBill($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
