<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-9">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-secondary page-add-btn" routerLink="/home/leave/add-leave">Add Leave</button>
                        <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountLeave(1, 20, '')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="15%" class="min-width-2">
                                    Leave ID.
                                    <app-table-sorting [sortField]="'leave_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="45%" class="min-width-3">
                                    Employee Name
                                    <app-table-sorting [sortField]="'employee_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="20%" class="min-width-2">
                                    Leave Start
                                    <app-table-sorting [sortField]="'leave_start'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="20%" class="min-width-2">
                                    Leave End
                                    <app-table-sorting [sortField]="'leave_end'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of leaveGridData" (dblclick)="viewLeave(data.id)" class="table-pointer">
                                <td>{{data?.leave_code}}</td>
                                <td>{{data?.employee.first_name}} {{data?.employee.last_name}}</td>
                                <td>{{data?.leave_start}}</td>
                                <td>{{data?.leave_end}}</td>
                            </tr>                          
                            <tr *ngIf="isFetchingGridData || !isDataAvailable">
                                <td colspan="4">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="4">
                                    <app-table-paginator
                                    [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountLeave($event, 20, '')"
                                    ></app-table-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
