<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectCommitteeModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectCommitteeModal" tabindex="-1" aria-labelledby="selectCommitteeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectCommitteeModalLabel">Select Association Committee</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">                    
                    <thead>
                        <tr class="bg-light">
                            <th width="65%" class="min-width-2">
                                Committee Name
                                <app-table-sorting [sortField]="'committee_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="35%" class="min-width-4">
                                Committee Chairman
                                <app-table-sorting [sortField]="'committee_chairman'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of committeesGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.committee_name}}</td>
                            <td>{{data?.chairman?.first_name}} {{data?.chairman?.last_name}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="2">
                                <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="2">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountCommittee($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
