<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-7">

                <div class="row mb-3">
                    <div class="col-md-12">
                        <button class="btn btn-secondary page-add-btn" (click)="newLedger.openModal()">New Ledger</button>
                        <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountLedger(1, 20, '')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <div class="overflow-auto">
                    <table class="table table-bordered w-100 page-table">
                        <thead>
                            <tr class="bg-light">
                                <th width="30%" class="min-width-2">
                                    Ledger ID
                                    <app-table-sorting [sortField]="'ledger_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                                <th width="70%" class="min-width-3">
                                    Ledger Name
                                    <app-table-sorting [sortField]="'ledger_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of ledgerGridData" (dblclick)="viewLedger(data?.id)" class="table-pointer">
                                <td>{{data?.ledger_code}}</td>
                                <td>{{data?.ledger_name}}</td>
                            </tr>
                            <tr *ngIf="isFetchingGridData || !isDataAvailable">
                                <td colspan="2">
                                    <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-light">
                                <td colspan="2">
                                    <app-table-paginator
                                    [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountLedger($event, 20, '')"
                                    ></app-table-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- new ledger modal component -->

<app-new-ledger #newLedgerComponentReference></app-new-ledger>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
