<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- executive page form -->

        <app-executive-form #executiveFormComponentReference></app-executive-form>

        <div class="row page-form">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/executives/all-executives">Cancel</button>
                <button [disabled]="isExecutiveSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postExecutive()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
