<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row page-form">
            <div class="col-md-6">

                <!-- assessment form component -->

                <app-assessment-form #assessmentFormComponentReference></app-assessment-form>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/assessment/all-assessment">Cancel</button>
                        <button [disabled]="isAssessmentSaving" type="submit" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="createAssessment()">Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
