<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-10">

                <div class="row mb-3">
                    <div class="col">
                        <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getUserSchedules(1, 20, '')">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </div>

                <table class="table table-bordered w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="12%">
                                Schedule ID
                                <app-table-sorting [sortField]="'schedule_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="30%">
                                Schedule Name
                                <app-table-sorting [sortField]="'schedule_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="13%">
                                Start Date
                                <app-table-sorting [sortField]="'start_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="13%">
                                End Date
                                <app-table-sorting [sortField]="'end_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="12%">
                                Status
                                <app-table-sorting [sortField]="'status'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%">
                                Calendar
                                <app-table-sorting [sortField]="'calendar_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of schedulesGridData">
                            <td>{{data?.schedule_name}}</td>
                            <td>{{data?.start_date | date: 'short'}}</td>
                            <td>{{data?.end_date | date: 'short'}}</td>
                            <td>{{data?.status}}</td>
                            <td>{{data?.calendar.calendar_name}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="6">
                                <app-table-loading [loaderSize]="'md'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="6">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getUserSchedules($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

    </div>
</main>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
