<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- department page form -->

        <app-department-form #departmentFormComponentReference></app-department-form>

        <div *ngIf="!isDepartmentLoading" class="row page-form">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/classes/all-classes">Cancel</button>
                <button [disabled]="isDepartmentDeleting" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="confirmDelete()">Delete</button>
                <button [disabled]="isDepartmentSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="putDepartment()">Save</button>
            </div>
        </div>
        <div *ngIf="isDepartmentLoading" class="row page-form">
            <div class="col-md-6">
                <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
        
    </div>
</main>