<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectMenuGroupModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectMenuGroupModal" tabindex="-1" aria-labelledby="selectMenuGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectMenuGroupModalLabel">Select Restaurant Menu Group</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="60%" class="min-width-4">
                                Menu Group
                                <app-table-sorting [sortField]="'menu_group'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="40%" class="min-width-3">
                                Category
                                <app-table-sorting [sortField]="'category'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of menuGroupGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.menu_group}}</td>
                            <td>{{data?.category}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="2">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="2">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountMenuGroup($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
