<div class="container">
    <div class="row pt-3 my-5">
        <div class="col-md-8">

            <h2 class="mb-4">Featured articles</h2>

            <a routerLink="/help/articles/getting-started">
                <p class="lead">Getting started with your netRink account</p>
            </a>
            <a routerLink="/help/articles/infrastructure">
                <p class="lead">Infrastructure and equipment requirements and setup</p>
            </a>
            <a routerLink="/help/articles/adding-users">
                <p class="lead">Adding users to your institution's account</p>
            </a>

        </div>
    </div>
</div>
