<app-main-navbar
    [navBrand]="'nR Restaurant'"
    [source]="'Restaurant'"
></app-main-navbar>

<app-suite-scrollnav
    (aboutEvent)="gotoAbout()"
    (pricingEvent)="gotoPricing()"
    (contactEvent)="gotoContact()"
></app-suite-scrollnav>

<app-user-top #userTopComponentReference
    [suiteName]="'Restaurant'"
    [accountsData]="accountsData"
    [isAccountLoading]="isAccountLoading"
    [isAccountChecking]="isAccountChecking"
    (selectAccount)="checkAccountActive($event)"
></app-user-top>

<app-about id="aboutComponentReference"
    [suiteName]="'Restaurant'"
    [suiteDetails]="'netRink Restaurant helps manage all aspects of your catering establishment. Restaurant comes with a range of extensive modular apps that are designed to see you through your day-to-day operations effectively. The modular apps are well intergrated with each, allowing you to bring all aspects of your restaurant operations into a single perspective.'"
></app-about>

<app-pricing id="pricingComponentReference"></app-pricing>

<app-contact id="contactComponentReference"
    [suiteName]="'Restaurant'"
></app-contact>

<app-main-footer></app-main-footer>
