<nav class="navbar bg-light navbar-light d-block h-100">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-1 text-white min-vh-100">

        <a routerLink="./" class="navbar-brand d-flex align-items-center d-none d-sm-block text-center pb-3 mt-1 mb-md-0 me-md-auto text-decoration-none">
            {{heading.toUpperCase()}}
        </a>
        
        <ul class="navbar-nav nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-3">
            <li class="nav-item">
                <a routerLink="dashboard" class="nav-link align-middle px-0 mb-3">
                    <i class="bi bi-speedometer2"></i>
                    <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>

            <li *ngFor="let link of navLinks" class="nav-item">
                <a routerLink="{{link.url}}" class="nav-link align-middle px-0 mb-3">
                    <i class={{link.icon}}></i>
                    <span class="ms-2 d-none d-sm-inline">{{link.text}}</span>
                </a>
            </li>

            <li *ngIf="showConf" class="nav-item">
                <a href="#" class="nav-link align-middle px-0 mb-3" (click)="checkConfigAccess()">
                    <i class="bi bi-gear"></i>
                    <span class="ms-2 d-none d-sm-inline">Configuration</span>
                </a>
            </li>
        </ul>

    </div>
</nav>

<!-- access denied prompt component -->

<app-access-toast #accessToastComponentReference></app-access-toast>
