<button [hidden]="true" #newButtonElementReference data-bs-toggle="modal" data-bs-target="#newHousekeepingModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newHousekeepingModal" tabindex="-1" aria-labelledby="newHousekeepingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="housekeepingForm" (ngSubmit)="createHousekeeping()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newHousekeepingModalLabel">Add New Housekeeping</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">House Keeping ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="housekeepingCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">House Keeping Date :</label></div>
                        <div class="col-md-8">
                            <input type="datetime-local" formControlName="housekeepingDate" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Room No. :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="roomNumber" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openRoomWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="isHousekeepingaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- select room window components -->

<app-select-room #selectRoomComponentReference [closeTarget]="'#newHousekeepingModal'" (rowSelected)="onRoomSelected($event)"></app-select-room>
