<button [hidden]="true" #newButtonElementReference data-bs-toggle="modal" data-bs-target="#newDispenseModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newDispenseModal" tabindex="-1" aria-labelledby="newDispenseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="dispenseForm" (ngSubmit)="createDispense()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newDispenseModalLabel">Add New Dispense</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Dispense ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="dispenseCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Dispense Date :</label></div>
                        <div class="col-md-8">
                            <input type="date" formControlName="dispenseDate" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Patient Name :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="patientName" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Patient No. :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="patientNumber" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Prescription ID :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="prescriptionCode" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="isDispenseSaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
