<button [hidden]="true" #editButtonElementReference data-bs-toggle="modal" data-bs-target="#editItemModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="editItemModalLabel">Add Item</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- item component -->

                <app-item-form #itemFormComponentReference></app-item-form>
            </div>

            <div class="modal-footer">
                <button [disabled]="isSaving" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal" (click)="saveItem()">Save</button>
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
