<div class="container">
    <div class="row my-5">
        <div class="col-md-7">

            <h4 class="my-5">
                <a routerLink="/help">Help</a>
                <span class="mx-2">/</span>Getting started
            </h4>

            <h3 class="mb-4">Getting started with your netRink account</h3>

            <p>netRink products are provided as <a href="https://en.wikipedia.org/wiki/Software_as_a_service" rel="noopener noreferrer" target="_blank">Software as a Service (SaaS)</a>. This minimizes the upfront cost required to get started. There is little to no startup infrastructure cost, and absolutely no need to install any specialized software and tools.</p>
            <p>All you need to get started is a device that can connect to the internet. Connect your device to the internet, visit <a href="https://www.netrink.com" rel="noopener noreferrer" target="_blank">www.netrink.com</a>, signup to the platform for free, and you are good and ready to go 😃.</p>
            <p>Need help getting started with netRink? Contact our support team at <a href="mailto:support@netrink.com">support@netrink.com</a>.</p>

        </div>
    </div>
</div>
