<div class="bg-darker navbar-dark py-5 mt-5">
    <div class="container pt-5">
        <div class="row">

            <div class="col-md-4 mb-4 text-white">
                <p class="h3">netRink</p>
                <p><small>&copy; 2018 - netRink. All rights reserved</small></p>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">PRODUCTS</p>
                <ul class="navbar-nav">
                    <li class="nav-item py-1"><a [href]="personalUrl" target="blank" class="nav-link py-1">PERSONAL</a></li>
                    <li class="nav-item py-1"><a [href]="restaurantUrl" target="blank" class="nav-link py-1">RESTAURANT</a></li>
                    <!-- <li class="nav-item py-1"><a [href]="schoolUrl" target="blank" class="nav-link py-1">SCHOOL</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="enterpriseUrl" target="blank" class="nav-link py-1">ENTERPRISE</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="associationUrl" target="blank" class="nav-link py-1">ASSOCIATION</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="hospitalUrl" target="blank" class="nav-link py-1">HOSPITAL</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="hotelUrl" target="blank" class="nav-link py-1">HOTEL</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="shopUrl" target="blank" class="nav-link py-1">SHOP</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="productionUrl" target="blank" class="nav-link py-1">PRODUCTION</a></li> -->
                </ul>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">COMPANY</p>
                <ul class="navbar-nav">
                    <li class="nav-item py-1"><a [href]="baseUrl + '#/help'" target="balnk" class="nav-link py-1">HELP</a></li>
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="balnk" class="nav-link py-1">ABOUT US</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="balnk" class="nav-link py-1">CAREERS</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="balnk" class="nav-link py-1">CONTACT US</a></li> -->
                    <li class="nav-item py-1"><a [href]="baseUrl + '#/terms/terms'" target="balnk" class="nav-link py-1">TERMS & CONDITIONS</a></li>
                    <li class="nav-item py-1"><a [href]="baseUrl + '#/terms/privacy'" target="balnk" class="nav-link py-1">PRIVACY POLICY</a></li>
                </ul>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">FOLLOW</p>
                <ul class="navbar-nav">
                    <li class="nav-item py-1"><a [href]="'https://www.youtube.com/channel/UCFKOYM1vemmu5FDmANeHc0Q'" target="blank" class="nav-link py-1">YOUTUBE</a></li>
                    <li class="nav-item py-1"><a [href]="'https://www.linkedin.com/company/netrink-technologies'" target="blank" class="nav-link py-1">LINKEDIN</a></li>
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="blank" class="nav-link py-1">INSTAGRAM</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="blank" class="nav-link py-1">FACEBOOK</a></li> -->
                    <!-- <li class="nav-item py-1"><a [href]="'#'" target="blank" class="nav-link py-1">TWITTER</a></li> -->
                </ul>
            </div>

        </div>
    </div>
</div>
