<button [hidden]="true" #addButtonElementReference data-bs-toggle="modal" data-bs-target="#createFeesModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="createFeesModal" tabindex="-1" aria-labelledby="createFeesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="feesForm" (ngSubmit)="createFees()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="createFeesModalLabel">Create Fees</span>
                    <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Fees ID :</label></div>
                        <div class="col-md-8">
                            <input formControlName="feesCode" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Fees Name :</label></div>
                        <div class="col-md-8">
                            <input formControlName="feesName" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Fees Date :</label></div>
                        <div class="col-md-8">
                            <input type="date" formControlName="feesDate" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Term :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="term" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openTermWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Fees Description :</label></div>
                        <div class="col-md-8">
                            <textarea formControlName="feesDescription" class="form-control form-control-sm w-100"></textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="isFeesSaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- select term window component -->

<!-- <app-select-term #selectTermComponentReference (rowSelected)="onTermSelected($event)"></app-select-term> -->

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
