<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <div class="row">
            <div class="col-md-6">

                <!-- fees form component -->

                <app-fees-form #feesFormComponentReference></app-fees-form>
                
                <div class="row page-form">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/fees/all-fees">Cancel</button>
                        <button [disabled]="isFeesSaving" type="submit" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postFees()">Save</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
