.bg-note-card{
    background-color: #fcfcfc;
}

.note-card-div .card{
    min-height: 10rem;
}

.note-card-title{
    font-size: 1.2rem;
}

.note-card-date,
.note-card-body{
    font-size: .8rem;
}

.note-card-btn .btn-sm{
    width: 38px;
}

.note-card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-card-body{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}