<div class="bg-dark-light py-5">
    <div class="container scroll-div" id={{suiteDivId}}>
        
        <h1 class="display-4 pb-3">{{suiteName}}</h1>

        <div class="row g-5">
            <div class="col-md-6 suite-details">
                <p class="h4 my-4">{{suiteDescription}}</p>
                <ul>
                    <li class="suite-uses" *ngFor="let use of suiteUses">
                        <p class="lead text-muted ms-2">{{use}}</p>
                    </li>
                </ul>
                <a href={{suiteButtonLink}} target="_blank">
                    <button class="btn btn-lg btn-primary mt-5 ms-4 goto-suite-btn">go to {{suiteName}}</button>
                </a>
            </div>

            <div class="col-md-6 bg-white rounded">
                <img src={{suiteImageSrc}} class="img-fluid my-auto border border-2 rounded">
            </div>
        </div>

    </div>
</div>
