<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="containerfluid px-4">

        <!-- patient page form -->

        <app-patient-form #patientFormComponentReference></app-patient-form>

        <div class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/patients/all-patients">Cancel</button>
                <button [disabled]="isPatientSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="postPatient()">Save</button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
