<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- nurse page form -->

        <app-nurse-form #nurseFormComponentReference></app-nurse-form>

        <div *ngIf="!isNurseLoading" class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/nurses/all-nurses">Cancel</button>
                <button [disabled]="isNurseDeleting" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="confirmDelete()">Delete</button>
                <button [disabled]="isNurseSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="putNurse()">Save</button>
            </div>
        </div>
        <div *ngIf="isNurseLoading" class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalComponentReference (confirmEvent)="deleteNurse()"></app-delete-modal-one>
