<app-module-topnav [headings]="navHeading"></app-module-topnav>

<main>
    <div class="container-fluid px-4">

        <!-- committee page form -->

        <app-committee-form #committeeFormComponentReference></app-committee-form>

        <div *ngIf="!isCommitteeLoading" class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/committees/all-committees">Cancel</button>
                <button [disabled]="isCommitteeDeleting" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="confirmDelete()">Delete</button>
                <button [disabled]="isCommitteeSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="putCommittee()">Save</button>
            </div>
        </div>
        <div *ngIf="isCommitteeLoading" class="row page-form">
            <div class="col-md-12">
                <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>

        <hr class="top-divider" />
        <hr class="bottom-divider" />
        
        <!-- committee members component -->

        <app-committee-members #committeeMembersComponentReference></app-committee-members>

    </div>
</main>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal-one #deleteModalComponentReference (confirmEvent)="deleteCommittee()"></app-delete-modal-one>
