.cards-div{
    height: 28rem !important;
}

.cards-div::-webkit-scrollbar {
    display: none;
}
  
.cards-div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

.task-card-title{
    font-size: 1.2rem;
}

.task-card-date,
.task-card-body{
    font-size: .8rem;
}

.task-card-btn .btn-sm{
    width: 38px;
}

.task-card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card-body{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}