<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectSalesModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectSalesModal" tabindex="-1" aria-labelledby="selectSalesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectSalesModalLabel">Select Shop Sales</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget"></button>
            </div>

            <div class="modal-body overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="15%" class="min-width-2">
                                Sales ID
                                <app-table-sorting [sortField]="'sales_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="20%" class="min-width-4">
                                Sales Date
                                <app-table-sorting [sortField]="'sales_date'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="15%" class="min-width-2">
                                Product ID
                                <app-table-sorting [sortField]="'product_code'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="35%" class="min-width-2">
                                Product Name
                                <app-table-sorting [sortField]="'product_name'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                            <th width="15%" class="min-width-2">
                                Quantity
                                <app-table-sorting [sortField]="'quantity'" [currentField]="currentSortColumn" (sortDirection)="sortTable($event)"></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of salesGridData; index as i" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.sales_code}}</td>
                            <td>{{data?.sales_date}}</td>
                            <td>{{data?.product?.product_code}}</td>
                            <td>{{data?.product?.product_name}}</td>
                            <td>{{data?.quantity}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData || !isDataAvailable">
                            <td colspan="5">
                                <app-table-loading [loaderSize]="'sm'" [isLoading]="isFetchingGridData" [isNoData]="isDataAvailable"></app-table-loading>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="5">
                                <app-table-paginator
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccountSales($event, 20, '')"
                                ></app-table-paginator>
                            </td>
                        </tr>
                    </tfoot>       
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-dismiss="modal" data-bs-toggle="modal" [attr.data-bs-target]="closeTarget">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
