<button [hidden]="true" #addButtonElementReference data-bs-toggle="modal" data-bs-target="#addPersonnelModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="addPersonnelModal" tabindex="-1" aria-labelledby="addPersonnelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="addPersonnelModalLabel">Add Personnel</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- personnel form component -->

                <form class="page-form" [formGroup]="personnelForm">

                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Personnel Code :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="personnelCode" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openStaffWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Personnel Name :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="personnelName" class="form-control">
                                <button type="button" class="btn btn-secondary" (click)="openStaffWindow()">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    <div class="row mb-1">
                        <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Batch :</label></div>
                        <div class="col-md-8">
                            <div class="input-group input-group-sm w-100">
                                <input formControlName="batchSymbol" class="form-control">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                </form>                

            </div>

            <div class="modal-footer">
                <button [disabled]="isSaving" type="submit" class="btn btn-sm btn-secondary modal-form-btn" (click)="savePersonnel()">Save</button>
                <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

<!-- select staff window component reference -->

<!-- <app-select-staff #selectStaffComponentReference [closeTarget]="'#addPersonnelModal'" (rowSelected)="onStaffSelected($event)"></app-select-staff> -->
